<div class="container-fluid ps-0 pe-0">
    <div class="redes ">
        <ul class="ps-5 pt-0">
            <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
            <label for="" class="ps-2"> | 983715555</label>
        </ul>
    </div>
    <div class="menu pt-2">
        <div class="logo ms-5 me-5">
            <h1><i class="fa fa-google fw-fold pe-2"></i>GRUPO GAMA</h1>
        </div>
        <div class="search-box">
            <input type="text" class="search" placeholder="Ingrese el nombre de su producto">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <ul>
            <li><a href=""><i class="fa fa-star-o "></i>Mis Favoritos</a></li>
            <li><a href=""><i class="fa fa-home"></i>Nuestras Tiendas</a></li>
            <li><a href=""><i class="fa fa-phone-square"></i>Necesitas Ayuda</a></li>
            <li><a href=""><i class="fa fa-user-circle-o"></i>Iniciar Sesión</a></li>
            <li><a href=""><i class="fa fa-shopping-cart"></i>Mi Carrito</a></li>
        </ul>
    </div>
    <div class="cuerpo w-100 ps-5 pe-5">
        <header class="header">
            <div class="container">
                <div class="header_left">
                    <a href="#" class="logo"><img src="" alt="">
                    </a>
                </div>
                <div class="header_right">
                    <label for="navTrigger" class="nav_icon"><i class="fa fa-bars"></i></label>
                    <input id="navTrigger" type="checkbox" name="">
                    <nav class="main_nav">
                        <ul>
                            <li><a href="#">Categorías</a>
                                <i class="fa fa-sort-desc"></i>
                                <ul>
                                    <li><a href="#">Laptops y Notebooks</a>
                                        <i class="fa fa-sort-desc"></i>
                                        <ul>
                                            <li><a href="#" (click)="mostrarProducto();">HP</a></li>
                                            <li><a href="#">ASUS</a></li>
                                            <li><a href="#">LENOVO</a></li>
                                            <li><a href="#">MSI</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Computadoras</a></li>
                                    <li><a href="#">Zona Gamer</a></li>
                                </ul>
                            </li>
                            <li><a href="#">LAPTOPS Y NOTEBOOKS</a></li>
                            <li><a href="#">COMPUTADORAS</a></li>
                            <li><a href="#">ZONA GAMER</a></li>
                            <li><a href="#">PARTES DE PC</a></li>
                            <li><a href="#">MONITORES Y MAS</a></li>
                            <li><a href="#">IMPRESORAS</a></li>

                        </ul>

                    </nav>
                </div>

            </div>
        </header>
        <!-- CONTACTOS -->
        @if (esDetalle == false) {
        <!-- SLADER -->
        <section class="slader">
            <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" navigation="true"
                pagination="true" scrollbar="true" autoplay="true" [options]="swipeOptions">
                <swiper-slide><img src="../assets/img/banners/laptops-febrero.jpg"
                        style="min-width: 100%;" /></swiper-slide>
                <swiper-slide><img src="../assets/img/banners/logitech.jpg" style="min-width: 100%;" /></swiper-slide>
                <swiper-slide><img src="../assets/img/banners/pc-evangelion.jpg"
                        style="min-width: 100%;" /></swiper-slide>
                <swiper-slide><img src="../assets/img/banners/razer.jpg" style="min-width: 100%;" /></swiper-slide>
            </swiper-container>
        </section>
        <!-- MAS CATEGORIAS-->
        <div class="row mt-2 ">
            <div class="row ">
                <div class="col ">
                    <div class="p-3"><img src="../assets/img/mascategorias/all-in-one.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/impresoras.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/computadoras.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/tarjetas-de-video.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/memoria-ram.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/procesadores.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/accesorios-gamer.png" class="card-img-cat"
                            alt="..."></div>
                </div>
                <div class="col">
                    <div class="p-3 "><img src="../assets/img/mascategorias/sillas-gamer.png" class="card-img-cat"
                            alt="..."></div>
                </div>
            </div>
            <div class="row col-sm-2 mx-auto">
                <a class="boton fw-bold" href="http://laweb.com" target="_blank">VER MÁS CATEGORÍAS</a>
            </div>
        </div>
        <!-- LO NUEVO -->
        <div class="lonuevo">
            <div class="row bg-silver rounded">

                <div class="col-11 p-0">
                    <h3 class="pt-2 pb-4 text-center"> Lo + Nuevo en Phonebit </h3>
                </div>
                <div class="col text-center  p-3">
                    <a class="boton fw-bold" href="http://laweb.com" target="_blank">VER TODO</a>
                </div>
            </div>
            <div class="row p-0">
                <img src="../assets/img/subbanners/lonuevo.jpg" class="card-img-top p-0 pt-3 pb-3" alt="...">
            </div>
            <div class="row p-0 align-items-center">
                <div class="col-1 m-0 p-0"></div>
                <div class="col-1 p-0 m-0  ">
                    <img src="../assets/img/subbanners/60301.jpg" class="rounded  " alt="...">
                </div>
                <div class="nuevo col-8 m-0 p-0 ms-auto">
                    <swiper-container slides-per-view="4" speed="500" loop="false" css-mode="true" navigation="true"
                        pagination="true" scrollbar="true" autoplay="true" [options]="swipeOptions">
                        @for (productoNuevo of productosNuevos; track $index) {
                        <swiper-slide class="mt-2 mb-5">
                            <app-product-card [id]="productoNuevo.id" [sku]="productoNuevo.sku"
                                [descripcionCard]="productoNuevo.descripcionCard" [precio]="productoNuevo.precio"
                                [listaImagenes]="productoNuevo.listaImagenes" (esDetalle)="procesarRespuesta($event)">
                            </app-product-card>
                        </swiper-slide>
                        }
                    </swiper-container>
                </div>

            </div>


        </div>
        }
        @if (esDetalle==true) {
            <app-product-detil></app-product-detil>

        }
        
        
    </div>
    <footer class="footer">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div >
                        <span class="las la-phone-volume icon-footer"></span>
                    </div>
                    <div class="col texto-footer">
                        <span>Central Telefonica</span>
                        <label class="" for="">(084)983-715555 </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div >
                        <span class="lab la-whatsapp icon-footer"></span>
                    </div>
                    <div class="col texto-footer">
                        <span>Ventas por Wattsapp</span>
                        <label class="" for="">983-715555 </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div >
                        <span class="las la-envelope icon-footer"></span>
                    </div>
                    <div class="col texto-footer">
                        <span>Ventas Online</span>
                        <label class="" for="">informes.com.pe </label>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div >
                        <span class="las la-location-arrow icon-footer"></span>
                    </div>
                    <div class="col texto-footer">
                        <span>Nuestras Tiendas</span>
                        <label class="" for="" style=" font-weight: bold; font-size: 1.1rem;">Localízanos </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label style=" font-weight: bold; font-size: 1.1rem;">SOBRE PHONEBIT</label>  
                <ul>
                    <li>Acerca de nostros</li>
                    <li>Nuestras Ventajas</li>
                    <li>Nuestras tiendas</li>
                    <li>Nuestras cuentas bancarias</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Seguimiento de tu pedido</li>
                    <li>Contactate con nosotros</li>
                    <li>Mapa del sitio</li>
                    <li>Blog</li>                    
                  </ul>              
            </div>
            <div class="col">
                <label style=" font-weight: bold; font-size: 1.1rem;">COMPRAR CON CONFIANZA</label>  
                <ul>
                    <li>Política de Devoluciones</li>
                    <li>Política de Privacidad</li>
                    <li>¿Cómo comprar en Phonebit?</li>
                    <li>Políticas Comerciales</li>
                    <li>Políticas de Garantías</li>
                    <li>Política de Envíos</li>
                    <li>Libro de Reclamaciones</li>                                  
                  </ul>              
            </div>
            <div class="col">
                <label style=" font-weight: bold; font-size: 1.1rem;">NUESTRAS MARCAS</label>  
                <ul>
                    <li>HP</li>
                    <li>Lenovo</li>
                    <li>Apple</li>
                    <li>ASUS</li>
                    <li>Intel</li>                    
                </ul>      
            </div>
            <div class="col">
                <label style=" font-weight: bold; font-size: 1.1rem;">CONTÁCTENOS!!!</label>
                <ul>
                    <li>Jr. José Olaya 175</li>
                    <li>Uripa</li>
                    <li>Chincheros</li>
                    <li>Apurimac</li>                    
                </ul> 
                <label style=" font-weight: bold; font-size: 1.1rem;">METODO DE PAGO</label> 
            </div>            
        </div>
    </footer>
</div>